
<main class="main">
    <div class="content">
      <div class="signupForm">
        <div class="email">
          <label for="email"></label>
          <input 
              pInputText 
              id="email"
              [(ngModel)]="email" 
              placeholder="email"/>
        </div>
        <div class="name">
          <label for="name"></label>
          <input 
              pInputText 
              id="name"
              [(ngModel)]="name" 
              placeholder="your name"/>
        </div>
      
        <p-password 
          [(ngModel)]="password" 
          [toggleMask]="true" 
          class="password"
          placeholder="password"/>
      
        <p-button label="sign up" styleClass="p-button-success" (click)="onSubmit()" class="button"></p-button>
        <p>Don't have an account? <a class="signup" href="/signin">Sign In</a></p>
      </div>
    </div>
    
  </main>
  
  <router-outlet />
  