@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@layer reset, primeng;

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    /* border: 1px solid red; */
    margin-left: 10%;
    margin-right: 10%;
    
}

.content {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signupForm {
    display:flex;
    flex-direction: column;
}

.email, .email input, .password, .password input, .name, .name input {
    width: 250px;
}

.password {
    margin-bottom: 10px;
}

.button {
    display:flex;
    justify-content: center;
    align-items: center;
}

.signup {
    color: rgb(29, 155, 240);
}