<app-nav></app-nav>
<div class="container">
    <div class="txs">
        <div *ngFor="let tx of transactions; let i = index" class="transaction">
            <div>
                {{i+1}}. {{tx.amount}} {{tx.category}} {{tx.location}} {{tx.comment}} {{ tx.date | date:'HH:mm dd.MM.yyyy' }}
            </div>
            <div>
                <i class="fa-solid fa-gear" id="settings" (click)="showDialogChange(tx)"></i>
                <i class="fa-solid fa-trash" (click)="deleteTx(tx.id)" id="delete"></i>
            </div>
        </div>
    </div>
    <div class="buttons">
        <button id="receive" (click)="showDialogReceive()">Receive</button>
        <button id="spend" (click)="showDialogSpend()">Send</button>
    </div>
</div>
<!-- receive -->
<p-dialog header="Add transaction" [modal]="true" [(visible)]="visibleReceive" [style]="{ width: '25rem', height: '27rem' }">
    <div class="dialogReceive">
        <div class="category">
            <label for="category" class="font-semibold w-6rem"></label>
            <p-dropdown 
                [options]="incomeSources" 
                [(ngModel)]="selectedCategory" 
                placeholder="Select a category"
            ></p-dropdown>
        </div>
        <div class="amount">
            <label for="amount"></label>
            <input 
                pInputText 
                id="amount"
                [(ngModel)]="amount" 
                placeholder="amount"
                />
        </div>
        <div class="comment">
            <label for="comment"></label>
            <input 
                pInputText 
                id="comment"
                [(ngModel)]="comment" 
                placeholder="comment"
                />
        </div>
        <div class="location">
            <label for="location"></label>
            <input 
                pInputText 
                id="location"
                [(ngModel)]="location" 
                placeholder="location"
                />
        </div>
        <!-- <div class="date">
            <label for="date"></label>
            <input 
                pInputText 
                id="date"
                [(ngModel)]="date" 
                placeholder="HH:mm dd.mm.yyyy"
                />
        </div> -->
    </div>
    <p-button label="confirm" styleClass="p-button-success" (click)="receiveTxCreate()" class="button"></p-button>
</p-dialog>
<!-- spend -->
<p-dialog header="Add transaction" [modal]="true" [(visible)]="visibleSpend" [style]="{ width: '25rem', height: '27rem' }">
    <div class="dialogReceive">
        <div class="category">
            <label for="category" class="font-semibold w-6rem"></label>
            <p-dropdown 
                [options]="spendCategories" 
                [(ngModel)]="selectedCategory" 
                placeholder="Select a category"
            ></p-dropdown>
        </div>
        <div class="amount">
            <label for="amount"></label>
            <input 
                pInputText 
                id="amount"
                [(ngModel)]="amount" 
                placeholder="amount"
                />
        </div>
        <div class="comment">
            <label for="comment"></label>
            <input 
                pInputText 
                id="comment"
                [(ngModel)]="comment" 
                placeholder="comment"
                />
        </div>
        <div class="location">
            <label for="location"></label>
            <input 
                pInputText 
                id="location"
                [(ngModel)]="location" 
                placeholder="location"
                />
        </div>
        <!-- <div class="date">
            <label for="date"></label>
            <input 
                pInputText 
                id="date"
                [(ngModel)]="date" 
                placeholder="HH:mm dd.mm.yyyy"
                />
        </div> -->
    </div>
    <p-button label="confirm" styleClass="p-button-success" (click)="spendTxCreate()" class="button"></p-button>
</p-dialog>
<!-- settings -->
<p-dialog header="Change details" [modal]="true" [(visible)]="visibleChange" [style]="{ width: '25rem', height: '27rem' }">
    <div class="dialogReceive">
        <div class="category">
            <label for="category" class="font-semibold w-6rem"></label>
            <p-dropdown 
                [options]="currentOperationType === 'spend' ? spendCategories : incomeSources" 
                [(ngModel)]="selectedCategory" 
                placeholder="Select a category"
            ></p-dropdown>
        </div>
        <div class="amount">
            <label for="amount"></label>
            <input 
                pInputText 
                id="amount"
                [(ngModel)]="amount" 
                placeholder="amount"
                />
        </div>
        <div class="comment">
            <label for="comment"></label>
            <input 
                pInputText 
                id="comment"
                [(ngModel)]="comment" 
                placeholder="comment"
                />
        </div>
    </div>
    <p-button label="confirm" styleClass="p-button-success" class="button" (click)="confirmChange()"></p-button>
</p-dialog>